   <!-- HEADER -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">Pawtrails</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#tablebooking">Table Booking</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Indina <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">DRINKS</a></li>
                    <li><a href="#">STARTERS</a></li>
                    <li><a href="#">TANDOORI - CLAY OVEN - DISHES</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">SEAFOOD MAIN COURSES</li>
                    <li><a href="#">CHICKEN MAIN COURSES</a></li>
                    <li><a href="#">LAMB MAIN COURSES</a></li>
                    <li><a href="#">RICE/BREDS</a></li>
                    <li><a href="#">ACCOMPANIMENTS</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Italian <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">DRINKS</a></li>
                    <li><a href="#">STARTERS</a></li>
                    <li><a href="#">TANDOORI - CLAY OVEN - DISHES</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">SEAFOOD MAIN COURSES</li>
                    <li><a href="#">CHICKEN MAIN COURSES</a></li>
                    <li><a href="#">LAMB MAIN COURSES</a></li>
                    <li><a href="#">RICE/BREDS</a></li>
                    <li><a href="#">ACCOMPANIMENTS</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chines <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">DRINKS</a></li>
                    <li><a href="#">STARTERS</a></li>
                    <li><a href="#">TANDOORI - CLAY OVEN - DISHES</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">SEAFOOD MAIN COURSES</li>
                    <li><a href="#">CHICKEN MAIN COURSES</a></li>
                    <li><a href="#">LAMB MAIN COURSES</a></li>
                    <li><a href="#">RICE/BREDS</a></li>
                    <li><a href="#">ACCOMPANIMENTS</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav pull-almost-right">
                <li><a href="#/login">Login</a></li>
              </ul>  
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Carousel
  ================================================== -->
  <div id="mainCarousel">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <img src="images/malteese-puppie.jpg" alt="Help us get them home">
          <div class="container">
            <div class="carousel-caption caption-right">
              <a class="btn btn-lg btn-default" href="#" role="button" style="font-size:2em">Report Missing Pet &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <img src="images/proud-american.jpg" alt="Help us get them home">
          <div class="container">
            <div class="carousel-caption caption-right">
              <a class="btn btn-lg btn-default" href="#" role="button" style="font-size:2em">Report Missing Pet &raquo;</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <img src="images/jumping-jack.jpg" alt="Help us get them home">
          <div class="container">
            <div class="carousel-caption caption-right">
              <a class="btn btn-lg btn-default" href="#" role="button" style="font-size:2em">Report Missing Pet&raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.carousel -->
</div>

<div class="mainTitle">
  <div class="container">
    <h1>Our Services</h1>
    <p>
    Our only goal is to reunite lost pets with their families
    </p>
  </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="images/cat-mad.jpg" alt="Generic placeholder image">
      <h2>Post Lost Alert</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies</p>
      <p><a class="btn btn-default" href="#" role="button">Lost Alert &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="images/cat-babie.jpg" alt="Generic placeholder image">
      <h2>Post Found Alert</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </p>
      <p><a class="btn btn-default" href="#" role="button">Found Alert &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
  <img class="img-circle" src="images/cat-garden.jpg" alt="Lam Tikka">
      <h2>Create Flyer</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. </p>
      <p><a class="btn btn-default" href="#" role="button">Create Flyer &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

<div class="introSection">
  <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="cntr">Latest Lost Alerts</h1>
    </div>
  </div>
  </div>
</div>
  
<div class="container marketing">
  <div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-rounded" src="images/flower-cocker.jpg" alt="Generic placeholder image">
            <h4>Tuchi</h4>
            <p><a class="btn btn-default" href="#" role="button">Found Alert &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
              <img class="img-rounded" src="images/cat-big.jpg" alt="Generic placeholder image">
              <h4>Pepe</h4>
              <p><a class="btn btn-default" href="#" role="button">Found Alert &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-rounded" src="images/ugly-persi.jpg" alt="Generic placeholder image">
            <h4>Susan</h4>
            <p><a class="btn btn-default" href="#" role="button">Found Alert &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
      <div class="item">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-rounded" src="images/sad-dog.jpg" alt="Generic placeholder image">
            <h4>Bobby</h4>
            <p><a class="btn btn-default" href="#" role="button">Found Alert &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
              <img class="img-rounded" src="images/playing-lab.jpg" alt="Generic placeholder image">
              <h4>White</h4>
              <p><a class="btn btn-default" href="#" role="button">Found Alert &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-rounded" src="images/dog-sleeping.jpg" alt="Generic placeholder image">
            <h4>Kola</h4>
            <p><a class="btn btn-default" href="#" role="button">Found Alert &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div><!-- /.carousel -->
</div>
  
<div class="introSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h3>Who are we?</h3>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br><br>
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
  
      <div class="col-lg-4">
        <h3>Our mission</h3>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br><br>          
        </p>
      </div>
  
      <div class="col-lg-3">
        <h3>How it works</h3>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- /END THE FEATURETTES -->

<!-- FOOTER -->
<footer>
  <div class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2014 Pawtrails, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </div>
</footer>

